

header{
    background-color:rgb(81, 4, 77);
    background-color: #00000065;
    padding-bottom: 0px;
    margin: 0px;
    margin-top: 0px;
}
    body{
        background-image: url("../Inscription/Fond_d\'écran.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin: 0%;

    }

    .cc{color: black;
        font-size: larger;
        font-family:"inspiration";

    }
    
        

    
        
    