@font-face {
    font-family: 'KiteOne-Regular';
    src: url(/polices/KiteOne-Regular.ttf);
}
@font-face {
    font-family: "streamsters";
    src: url(../polices/Streamster.ttf);
}
aside{
    font-size: 20px;
    background: linear-gradient(#011534,#70F1FD);
    width: 30%;
    margin-left: 90px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    color: white;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

article{
    background-color: #011534;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 150px;
    padding-right: 50px;
    
}

article h1 a{
     font-family: "streamsters";
    font-size: 30px;
 }

 a{
    color: white;
    text-decoration: none;
}

body{
    background-image: url(../img/ciel-etoiles-nuit.jpg);
    background-size: cover;
    font-family: 'KiteOne-Regular';
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;

}
.para1{
    display: flex;
    justify-content: center;
    font-size: 32px;
    text-align: center;
}
.fond{
    width: 75%;
    background: linear-gradient(white, transparent)
}
.bas{
    display: flex;
}
.bulle1{
    background-color: #d9d9d9;
    border-radius: 30px 0% 30px 0%;
    height: 75px;
    width: 295px;
    text-align: center;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bulle2{
    background-color: #d9d9d9;
    border-radius: 30px 0% 30px 0%;
    font-size: 24px;
    height: 195px;
    width: 573px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}
footer a{
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
}