@font-face {
    font-family: "streamsters";
    src: url(../polices/Streamster.ttf);
}
body {
    background-image: url("https://www.cjoint.com/doc/20_11/JKemYMl6Ymw_47343047c5-105832-ciel-bleu-01.jpg");
    font-family: 'Josefin Sans', sans-serif;
color: rgb(0, 0, 0);
padding: 0;
margin: 0;

}
article{
    background-color: #011534;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 150px;
    padding-right: 50px;
    z-index: 5550;
    
}

article h1 a{
    font-family: "streamsters";
    font-size: 30px;
}


h1 a, h2 a{
    color: white !important;
 text-align: center;
 text-decoration: none;



} 

h3{
    text-align: center;
}


.etape{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 60px;
    border-color: rgba(240, 248, 255, 0.427);
    width: 500px;
    background-color: rgba(255, 255, 255, 0.386);
    color: rgb(67, 67, 67);
    

}

.btn {
    padding-top: 15px;
    display: flex;
    justify-content: right;
    
    
    
}

#aide {
    border-radius: 60px;
    width: 100px;
    position: absolute;
    top: 320px;
    right: 20%;
    font-size: 150%;
    background-color: black;
    color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 600px;
}

/* #timel{
    position:;
    top: -20%;
} */

.crop {
    width: 1300px;
    height: 550px;
    overflow: hidden;
    margin-left: 66px;
}

.crop img {
    width: 1300px;
    
    margin: -355px auto 0 auto;
}

.shape {
    shape-outside: circle(50%) margin-box;


  }
  
  footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.container{
    display: flex;
    align-items: center;
}
