@font-face {
    font-family: "streamsters";
    src: url(../polices/Streamster.ttf);
}
body {
    background-image: url("https://www.cjoint.com/doc/20_11/JKemYMl6Ymw_47343047c5-105832-ciel-bleu-01.jpg");
    font-family: 'Josefin Sans', sans-serif;
color: rgb(0, 0, 0);
padding: 0;
margin: 0;

}
article{
    background-color: #011534;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 150px;
    padding-right: 50px;
    z-index: 5550;
    
}

article h1 a{
     font-family: "streamsters";
    font-size: 30px;
 }


h1, h2,{
 text-align: center; 



} 


.etape{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 60px;
    border-color: rgba(240, 248, 255, 0.427);
    width: 500px;
    background-color: rgba(255, 255, 255, 0.386);
    color: rgb(67, 67, 67);
    

}

.btn {

    display: flex;
    justify-content: right;



}

#aide {
    border-radius: 60px;
    width: 100px;
    position: absolute;
top: 90px;
right: 20%;
    font-size: 55%;
    background-color: black;
    color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 600px;

}

#timel{
    position: absolute;
    top: -20%;
}

.shape {
    shape-outside: circle(50%) margin-box;


  }