body {
    background-image: url("https://www.cjoint.com/doc/20_11/JKemYMl6Ymw_47343047c5-105832-ciel-bleu-01.jpg");
    font-family: 'Josefin Sans', sans-serif;
color: rgb(0, 0, 0);

}

h1, h2, h3 {
text-align: center;



} 
h1 {
    
    border-style: solid;
    border-radius: 60px;
    border-color: rgba(240, 248, 255, 0.427);
    width: 500px;
    background-color: rgba(255, 255, 255, 0.386);
    color: rgb(67, 67, 67);
   
    
    
   
}

.etape{

    display: flex;
    justify-content: center;
   
    
}

.btn {

    display: flex;
    justify-content: right;



}

#aide {
    border-radius: 60px;
    width: 100px;
    position: absolute;
top: 90px;
right: 20%;
    font-size: 55%;
    background-color: black;
    color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 600px;
}

#timel{
    position: absolute;
    top: -20%;
}

.shape {
    shape-outside: circle(50%) margin-box;


  }
  