

header{
    background-color:rgb(81, 4, 77);
    background-color: #00000065;
    padding-bottom: 0px;
    margin: 0px;
    margin-top: 0px;
}
    body{
        background-image: url(/img/Rectangle\ 32.png);

    }

    .cc{color: black;
        font-size: larger;
        font-family:"inspiration";

    }
    
        

    
        
    