@font-face {
    font-family: "streamsters";
    src: url(Streamster.ttf);
}

.fond{
    width: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.507), transparent);
}

main{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body{
    margin: 0%;
    padding: 0%;
    background-image: url("../Inscription/Fond_d\'ecran.png"),linear-gradient(0.25turn,#040D1F, #0D2954);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    background-attachment: fixed;
    /* background-color:; */
}

h1{
    font-family: 'streamsters';
    font-size: 30px;
}

a{
    color: white;
    text-decoration: none;
}

hr{
    margin: 0%;
}

aside{
        font-size: 23px;
        background: linear-gradient(#011534,#70F1FD);
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        margin: 25px;
        margin-top: 25px;
        color: white;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
}

figure{
    font-size: 13px;
    background: linear-gradient(#011534,#70F1FD);
    width: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 15px;
    color: white;
    border-radius: 50px;
}

section{
    font-size: 13px;
    background: linear-gradient(#011534,#70F1FD);
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    color: white;
    border-radius: 50px;
}


article{
    background-color: #011534;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 150px;
    padding-right: 50px;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;;
}

footer a{
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
}